@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rancho&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* nav */
.background-15 {
    height: 100px;
    width: 1330px;
}

.logo-1 {
    position: relative;
    top: 20px;
    right: 10px;
    width: 80px;
    height: 80px;
}

.nav-title {
    color: rgb(0, 0, 0);
    font-family: Rancho;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: -175px;
    /* width: 367px; */
    height: 75px;
}

.b-t-h {
    /* position: relative;
    top: -10px; */
    color: rgb(55, 65, 81);
    font-family: Rancho;
    font-size: 30px;
    text-align: left;
    text-decoration: none;

}

.icon {
    position: relative;

    top: 7px;
    margin-left: 190px;
}

/* 

header*/

.header {
    background-image: url(../images/more/11.png);
    width: 1330px;
    height: 991px;
}

.add-new-coffe {
    border-radius: 5px;
    width: 1000px;
    margin-left: 170px;
    height: 878px;
    background: rgb(244, 243, 240);
}

.a-n-c {
    padding-top: 70px;

    color: rgb(55, 65, 81);
    font-family: Rancho;
    font-size: 45px;
    text-align: center;
}

.a-n-description {
    color: rgba(27, 26, 26, 0.7);
    font-family: Raleway;
    font-size: 18px;
    padding-left: 30px;
    text-align: center;
    width: 932px;
    height: 90px;
}

.form {
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

.in {
    margin: 10px;
    padding: 10px;
    width: 336px;
    height: 48px;
}